body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  width: 150%;
  height: auto;
  background-color: #222222;
  color: #818181;
}

.footertopright {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  margin-left: 76vw;
}

.footertopright_text {
  margin-left: -1.3vw;
  margin-top: 0.3rem;
  color: #818181;
  margin-bottom: 0rem;
}

.footer__topright_input {
  background-color: transparent;
  border: 1px solid grey;
  margin-left: -1.3vw;
  width: 21vw;
  height: 2rem;
  color: white;
}

.footer_footer {
  position: relative;
  padding: 20px;
}
.footer_text {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  margin-left: 15%;
}
.contact_1 {
  color: #858585;
}
.contact_1:hover {
  color: white;
}
.contact_2 {
  color: #858585;
}
.contact_2:hover {
  color: white;
}
